@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");

/* BODY MAIN DEFINITION */
body {
    margin-top:10%;
    /* margin-bottom:8vh; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'Lexend', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Special Elite', cursive; */
}

body.dark-mode body {
    margin-top: 10%;
    /* font-family: "Roboto", sans-serif; */
}

/* GOOGLE MATERIAL ICONS */
.material-symbols-outlined {
    font-size: 3.5rem;
    color: yellow;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body.dark-mode .material-symbols-outlined {
    font-size: 3.5rem;
    color: blue;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body.dark-mode {
    color: #ffffff;
    background-color: #091540;
}

body.dark-mode body {
    color: #ffffff;
}

.formContainer1 {
    padding-top: -2rem;
}

h1 {
    margin-top: 0;
}


h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #333;
}



body.dark-mode h1 {
    margin-top: 0;
}


body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode a {
    color: #ebebeb;
}

.mine {
    background-color: blue;
}

/* SMALL MEDIA QUERIES START */
@media (max-width: 480px) {
    .dropdown-menu {
        margin-left: 0;
        margin-right: 10px;
        padding-left: 10px;
        width: 60%;
        background-color: #091540;
        height: 15%;
    }

    .navbar {
        height: 7rem;
        background-color: #091540;
    }

    .navBarTogglOwn {
        right: 0%;
        position: relative;
    }

    .playgroundMain {
        margin-top: 7rem;
        margin-bottom: -1rem;
        
    }

    .colSquare {
        background-color: red;
        width: 90%;
    }

    .knowledgeMain {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .knowledgeTable {
        width: 100%;
    }

    .colCircle {
        background-color: yellow;
        border-radius: 50%;
        width: 90%;
    }

    .colTriangle {
        width: 100%;
        height: 100%;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 300px solid blue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 2%;
    }

    .square {
        position: relative;
        width: 300px;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }

    .welcomeMain {
        margin-top: 10rem;
        margin-bottom: 20rem;
    }

    .triangleFix {
        height: 100%;
        width: 130%;
        position: relative;
    }

    .profileMain {
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    .profileMain .navbar {
        height: 6rem;
    }

    .updateAccount {
        height: 90%;
        position: relative;
        top: 6rem;
        width: 100%;
    }

    .circleProfileCols {
        position: relative;
        min-width: 33%;
        min-height: 33%;
        border-radius: 50%;
        padding: 5rem 2rem 1rem 2rem;
    }
  
}

/* SMALL MEDIA QUERIES END */

/* LANDSCAPE/TABLET MEDIA QUERIES START */

@media (max-width: 800px) and (orientation: landscape) {
    /* CSS rules for mobile landscape mode */
    .registerMain {
        margin-top: 5rem;
        margin-bottom: 20rem;
    }

    .navbar {
        height: 25%;
        background-color: #091540;
    }

    .playgroundMain {
        margin-bottom: 0rem;
    }

    .playgLandsTitle {
        display:none;
    }

    .footerOwn {
        display:none;
    }
    
}

/* LANDSCAPE/TABLET MEDIA QUERIES END */

/* MD MEDIULM LG LARGE MEDIA QUERIES START---------------------------------------------------------------- */
/* Styles for medium and large devices */
@media (min-width: 800px)  and (orientation: landscape) {
    .dropdown-menu {
        margin-left: -35px;
        margin-right: 60px;
        padding-left: 20px;
        width: 20%;
        background-color: #091540;
    }

    .navbar {
        height: 7rem;
        background-color: #091540;
    }

    .welcomeMain {
        margin-top: 15rem;
    }

    .triangleFix {
        position: relative;
        top: 8%;
        }
 
    .playgroundMain {
        margin-top:7rem;
        margin-bottom: 6rem;
    }

    .knowledgeMain {
        margin-top: 8rem;
        margin-bottom: 0rem;
    }

    .profileMain {
        margin-top: 8rem;
        margin-bottom: 10rem;
    }

    .profileMain .navbar {
        height: 6rem;
    }

    .circleProfileColupdAcc{
        position: relative;
        min-width: 33%;
        min-height: 33%;
        border-radius: 50%;
        padding: 5rem 2rem 1rem 2rem;
    }

    .circleProfileCols {
        position: relative;
        min-width: 30%;
        min-height: 33%;
        border-radius: 50%;
        padding: 3rem 2rem 1rem 2rem;
    }

    .logoImg {
        width: 15%;
        padding-left: 1rem;
        position: relative;
        left: 0;
        justify-content: center;
    }

    .colSquare {
        background-color: red;
        width: 300px;
        right: 2%;
        position: relative;
    }

    .colCircle {
        background-color: yellow;
        border-radius: 50%;
        width: 300px;
    }

    .colTriangle {
        width: 100%;
        height: 100%;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        border-bottom: 300px solid blue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .square {
        position: relative;
        width: 300px;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
    }

    .logoFont {
        /* font-size: 100%;  */
        margin-left: 10% !important;
    }

    .navbar-toggler-icon {
        font-size: 20px;
    }

    /* TOGGLE LG */

    .ht-ui-check {
        width: 21.5vw;
        height: 3.75vw;
        cursor: pointer;
        border-radius: 10vw;
        cursor: pointer;
        display: flex;
        align-items: center;
        transform: scale(0.25);
    }

    .circleKnowledgeForm {
        position: relative;
        /* width: 50% !important;
        height: 50%; */
        /* background-color:; */
        border-radius: 50%;
        padding: 3rem 2rem 4rem 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .knowledgeTable {
        width: 90%;
    }
}
/* MD MEDIULM LG LARGE MEDIA QUERIES STOP------------------------------------------------------------------------------- */

#navbar {

}

/* INDIVIDUAL PAGES DETAILS START -------------------------------------------------------------------------------------- */

/* LIBRARY */

.knowledgeTable {
    background-color: #e2ee58;
}

body.dark-mode .knowledgeTable {
    background-color: #2d5c86;
}

.circleKnowledgeForm {
    background-color:#022342;
}

body.dark-mode .circleKnowledgeForm {
    background-color:#4e80b7;
}

.infoKnowledge {
    color:#ebebeb;
}

body.dark-mode .infoKnowledge {
    color:#333;
}

.selectKnow {
    height: 46px;
    position: relative;
    display: flex;
}

.ownTable {
    background-color:#2de3be !important;
    --bs-table-bg: none;
}

body.dark-mode .ownTable {
    background-color:#ffc107 !important;
    --bs-table-bg: none;
}
/* BLOG */

.circleBlog {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #fe0000;
    border-radius:20px;
}

body.dark-mode .circleBlog {
    background-color: #07c3c3;
}

.formOwnOne {
    color: #333;
    border-radius: 20px;
}

.pBlogText {
    position:relative;
    top:-20px;
}

.columnBlogTwo {
    position: relative;
    min-width: 20%;
    min-height: 100%;
    padding: 5rem 2rem 7rem 2rem;
    background-color:#7bffcf;
}

body.dark-mode .columnBlogTwo { 
    background-color:#830131;
}

.textfield {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    padding: 20px;
    overflow: auto;
    transform: translateY(50%);
}

.textfieldBlogTitle {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 2.5rem;
    color: #333;
    background-color: #fe0000;
    border-radius: 19px;
}

body.dark-mode .textfieldBlogTitle {
    color: #333;
    color: #fff;
    background-color: #07c3c3;

}

.textfieldBlogContent {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ebebeb;
    text-align: left;
    font-family: 'Special Elite', cursiv;
}

.imageBlog {
    padding-left: 5px;
    padding-right: 5px;
    width: 100% !important;
}

body.dark-mode .textfieldBlogContent {
    color: #333;
}

.modal-title {
    color:#ebebeb !important;
    font-weight:bold;
    font-family: 'Special Elite', cursiv;
    font-size: 1.5em;
}

body.dark-mode .modal-title {
    color:#333 !important;
}

.modal-backdrop.show {

    opacity: var(--bs-backdrop-opacity);
}

.modal-backdrop.fade {
    z-index:-1 !important;
}

.modal-content{
    background-color: #333;
}

body.dark-mode .modal-content{
    background-color: #ebebeb;
}

.btnXModal {
    font-size: 2rem;
}

/* INDIVIDUAL PAGES DETAILS END -------------------------------------------------------------------------------------- */

.dropdownProfile {
    background-color: #1400ff;
    color: #ebebeb !important;
}

body.dark-mode .dropdownProfile {
    background-color: #ff0000;
    color: #333 !important;
}

/* LOGIN_REGISTER-FORM-CONTROL START FORM GENERAL---------------------------------------------------------- */

.loginLabel {
    color: #ebebeb;
}

.labelAuth {
    background-color: yellow;
}

body.dark-mode .labelAuth {
    background-color: blue;
}

body.dark-mode .loginLabel {
    color: #333;
}

.login {
    border-radius: 21px;
    border: 2px dotted #0000ff;
}   

body.dark-mode .login {
    border-radius: 21px;
    border: 2px dotted #ff0000;
}  


.cardLogin {
    background-color: #091540;
}

body.dark-mode .cardLogin {
    background-color: #ebebeb;
}

body.dark-mode .formOwnOne {
    color: #ebebeb;
}

.chatFormField {
    color: #333;
}

body.dark-mode .chatFormField {
    color: #ebebeb;
}

.form-control .form-control:active,
.form-control:focus,
.form-control:focus:active {
    color: #091540 !important;
    background-color: #ebebeb !important;
}

body.dark-mode .form-control,
body.dark-mode .form-control:active,
body.dark-mode .form-control:focus,
body.dark-mode .form-control:focus:active {
    color: #ebebeb !important;
    background-color: #091540 !important;
}

.form-control::placeholder {
    color: #091540 !important;
}

body.dark-mode .form-control::placeholder {
    color: #ebebeb !important;
}

.chatForm {
    color: white !important;
    background-color: #1e1e1e !important;
}

body.dark-mode .chatForm {
    color: black !important;
    background-color: #ebebeb !important;
}

.formIcons {
    color: #6254ff;
}

body.dark-mode .formIcons {
    color: #f25151;
}

/* FORM-CONTROL STOP---------------------------------------------------------------- */

/* TYPEWRITER CSS ---------------------------------------------------------------*/
.type {
    font-family: "IBM Plex Mono", cursive;
    color: #0000;
    background: linear-gradient(-90deg, #181818 5px, #0000 0) 10px 0,
        linear-gradient(#181818 0 0) 0 0;
    background-size: calc(var(--n) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation: b 0.7s infinite steps(1),
        t calc(var(--n) * 0.2s) steps(var(--n)) forwards;
    /* animation: t 1s linear infinite, b 10s linear infinite; */
}

body.dark-mode .type {
    font-family: "IBM Plex Mono", cursive;
    color: #0000;
    background: linear-gradient(-90deg, #ebebeb 5px, #0000 0) 10px 0,
        linear-gradient(#ebebeb 0 0) 0 0;
    background-size: calc(var(--n) * 1ch) 200%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    animation: b 0.7s infinite steps(1),
        t calc(var(--n) * 0.2s) steps(var(--n)) forwards;
    /* animation: t 1s linear infinite, b 10s linear infinite; */
}

@keyframes t {
    from {
        background-size: 0 200%;
    }
}

@keyframes b {
    50% {
        background-position: 0 -100%, 0 0;
    }
}

.show {
    display: block !important;
}

/* FOOTER LINK ----------------------------------*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #ebebeb;
    background-color: #181818;
}

body.dark-mode nav {
    color: #181818;
    background-color: #ebebeb;
}

.myNavbar {
    background-color: #ebebeb;
}

.myNavToggleTitle {
    color: #333;
}

body.dark-mode .myNavToggleTitle {
    color: #ebebeb;
}

body.dark-mode .nav-link {
    color: #333;
}

.nav-link {
    color: #ebebeb;
}

/* a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  position: relative;
} */

.logoChapsChat {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
}

/* LINK UNDERLINE ANIMATION START----------------------------------------------------------------  */

a.myNavUnderline {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: #ebebeb;
    text-decoration: none;
    position: relative;
}

body.dark-mode a.myNavUnderline {
    color: #333;
}

a.myNavUnderline:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ebebeb;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
}

body.dark-mode a.myNavUnderline:before {
    background-color: #333;
}

a.myNavUnderline:hover:before {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.myNavUnderline.active:before {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.myNavToggleTitle {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    position: relative;
}

body.dark-mode a.myNavToggleTitle {
    color: #ebebeb;
}

a.myNavToggleTitle:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ebebeb;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom right;
}

body.dark-mode a.myNavToggleTitle:before {
    background-color: #ebebeb;
}

a.myNavToggleTitle:hover:before {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.myNavToggleTitle.active:before {
    visibility: visible;
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* LINK UNDERLINE ANIMATION END----------------------------------------------------------------  */

.offcanvas {
    width: 92% !important;
}

.offcanvas-header {
    background-color: #ebebeb;
}

body.dark-mode .offcanvas-header {
    background-color: #091540;
}

.offcanvas-body {
    height: 90%;
    background-color: #091540;
}

body.dark-mode .offcanvas-body {
    height: 90%;
    background-color: #ebebeb;
}

.canvasLogo {
    /* display:none; */
    width:8rem;
    
}

body.dark-mode .ul {
    color: white;
}

body.dark-mode .li {
    color: white;
}

.chatBody {
    color: #333;
    background-color: #e2ee58;
}

body.dark-mode .chatBody {
    color: #ebebeb;
    background-color: #2d5c86;
}

.deletIcon {
    color: #e2ee58;
}

body.dark-mode .deletIcon {
    color: #2d5c86;
}

.scrollableChat {
    height: 500px;
    overflow: auto;
}

body.dark-mode .scrollableChat {
    height: 500px;
    overflow: auto;
}

.chatCol {
    background-color: #4e80b7;
    padding-top: 2rem;
}

body.dark-mode .chatCol {
    background-color: #022342;
    /* z-index: 2; */
}

/* ROUND DIVS --------------------------------------------------------  */

.circle {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
}

.circleBig {
    position: relative;
    min-width: 20%;
    min-height: 100%;
    padding: 5rem 2rem 1rem 2rem;
  
}

.circleAuth {
    position: relative;
    min-width: 33.3%;
    min-height: 33.3%;
    border-radius: 50%;
    padding: 18% 12% 6% 12% !important;
    box-sizing: border-box;
}





.textfieldKnowledge {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.body.dark-mode .textfieldKnowledge {
    color: #333;
}

.form-wrapper {
    max-width: 100%;
    text-align: center;
}

.textfieldKnowledge {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 2.5rem;
    color: #ffffff;
}

.card1 {
    background-color: mediumspringgreen;
    position: relative;
    left: 0;
    color: black;
}

body.dark-mode .card1 {
    background-color: #59c3c3;
}

/* ---------------------------------------------------------------- EDITOR MONACO START */

.editorCol {
    background-color: #e79503;
    z-index: 0;
    padding-top: 2rem;
}

body.dark-mode .editorCol {
    background-color: #1969fe;
}

.previewCol {
    background-color: #fffbef;
    padding-top: 2rem;
}

body.dark-mode .previewCol {
    background-color: #010511;
}

.containerEditor {
    margin-top: 1rem;
}

.editorTitle {
    height: 70vh;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "IBM Plex Mono", monospace;
}

.editor .suggest-widget div.tree {
    white-space: unset;
    padding-bottom: 0;
}

.monaco-editor .suggest-widget div.tree {
    white-space: unset;
    padding-bottom: 0;
}

#editor,
#css-editor,
#js-editor {
    /* height: 70vh;
    width: 100%;
    border: 1px solid #ccc; */
}

.rowEditor {
    height:4rem;
}

.fontColrSwitchCl{
    height: 17px;
}

.infoToggle {
    font-size: 17px;
    padding-bottom: 0px;
    padding-left: 2px;
    margin-left: -5px;
}

#preview {
    height: 70vh;
    width: 100%;
    border: none;
}

.monaco-editor {
    background-color: #d4d4d4;
    color: #212529;
}

.body.dark-mode .monaco-editor {
    background-color: #212529;
    color: #d4d4d4;
}

.toggleEditor {
    display: flex;
    bottom: 13px;
    position: relative;
    width: 9%;
}
/* ---------------------------------------------------------------- EDITOR MONACO END */

/* VARIOUS BUTTONS ----------------------------------------------------------------*/

.btn {
}

.btn-circle,
.btn-circle:hover,
.btn-circle:focus {
  width: 5rem;
  height: 5rem;
  font-size: 90%;
  padding: 8px 8px;
  border-radius: 50%;
  color: #ffff00;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: -3px 3px 3px 3px rgb(141, 141, 141);
}

.btn-auth {
    background-color: blue;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border-width: 5px;
    border-color: yellow;
    padding: 1rem 0 !important;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-auth:hover {
    background-color: #0099ff;
}

.btn-auth:active {
    background-color: #0066cc;
}

.btn-auth:focus {
    outline: none;
}

body.dark-mode .btn-auth {
    background-color: #ff0000;
    border-color: #0000ff;
}

body.dark-mode .btn-auth:hover {
    background-color: #ff7777;
}

body.dark-mode .btn-auth:active {
    background-color: #cc1f00;
}

body.dark-mode .btn-auth:focus {
    outline: none;
}

.btn-circle {
  background-color: #1400ff;
}

.btn-circle:hover,
.btn-circle:focus {
  background-color: #ffff00 !important;
  color: #1400ff !important;
}

body.dark-mode .btn-circle {
  background-color: #ff0000;
  color: #ffff00;
}

body.dark-mode .btn-circle:hover,
body.dark-mode .btn-circle:focus {
  background-color: #ffff00 !important;
  color: #ff0000 !important;
}

.btn-own {
    position: relative;
    right: 0;
    padding: 1rem 0 1rem 0 !important;
    color: black;
}

body.dark-mode .btn-own {
    color: white;
}

.btn-circleOwn {
    width: 6rem;
    height: 6rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #f25151;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleOwn {
    background-color: #0d6efd;
}

.btn-circleFoot {
    width: 5rem;
    height: 5rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #0000ff;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5rem;
    z-index: -2;
}

body.dark-mode .btn-circleFoot {
    background-color: #ffff00;
}

.btn-circleOwn2 {
    width: 6rem;
    height: 6rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #ffc107;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleOwn2 {
    background-color: #f25151;
}

.btn-circleOwn3 {
    width: 8rem;
    height: 8rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleOwn3 {
    background-color: #091540;
}

.skullIcon {
    color:#091540;
}

body.dark-mode .skullIcon {
    color:#ffffff;
}

.btn-circleType {
    width: 6rem;
    height: 6rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #ebebeb;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleType {
    background-color: #181818;
}

.btn-circleChat {
    width: 3rem;
    height: 3rem;
    font-size: 70%;
    background-color: #f25151;
    color: #000;
    border-radius: 50%;
    text-align: center;
}

body.dark-mode .btn-circleChat {
    background-color: #f25151;
}

.btn-circleLibrary {
    width: 4rem;
    height: 4rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #ebebeb;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleLibrary {
    background-color: #333 !important;
    color: #ebebeb !important;
}

body.dark-mode .btn-circleLibrary:hover {
    background-color: #ebebeb !important;
    color: #333 !important;
}

body.dark-mode .btn-circleLibrary:focus {
    background-color: #ebebeb !important;
    color: #333 !important;
}

.btn-circleBlogBig {
    width: 7rem;
    height: 7rem;
    font-size: 90%;
    font-weight: bold;
    background-color: #0099d5;
    padding: 8px 8px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

body.dark-mode .btn-circleBlogBig {
    background-color: #ff662a !important;
    color: #ebebeb !important;
}

body.dark-mode .btn-circleBlogBig:hover {
    background-color: #0099d5 !important;
    color: #333 !important;
}

body.dark-mode .btn-circleBlogBig:focus {
    background-color: #0099d5 !important;
    color: #333 !important;
}

/*  BTN UNDO REDO ------------------------------------------------*/

/* .undoRedoGroup {
    position: relative;
    top: 27px;
} */

.iconInfoPlay {
    width: 4%;
    position: relative;
    left: 13%;
    top: 19%;
}

.btn-undo {
    background-color: #e7594c;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 10px;
    color: #c71100;
}

.btn-undo:hover {
    background-color: #ff4d00;
}

.btn-undo:active {
    background-color: #cc0096;
}

.btn-undo:focus {
    outline: none;
}

.btn-redo {
    background-color: #259956;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 4px;
    color: #5bcd14;
}

.btn-redo:hover {
    background-color: #5bcd14;
}

.btn-redo:active {
    background-color: #cc0096;
}

.btn-redo:focus {
    outline: none;
}

.btn-searchOne {
    background-color: #259956;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    padding-left: 4px;
    color: #5bcd14;
    border-style: dotted;
    border-width: 3px;
    border-color: #e2ee58;
}

#searchOne {
    z-index:0;
}

.magnfGlassIcon {
    position: relative;
    bottom: 2px;
    left: 2px;
}

#closeButton {
    color: red !important;
}

.btnTxt {
    color: blue;
}

/* TOGGLE Start================================================================= */
/* body {
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
height: 100vh;
}
#bg {
position:relative;
left:-30px;


} */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    left: 0;
}

.toggle {
    position: relative;
    width: 230px;
    margin-left: -4rem;
}

.listToggle {
    width:0%;
}

.labelToggle {
    width: 29%;
    position: relative;
    left: 16px;
    bottom: 10px;
}

.custom-checkbox[type="checkbox"] {
    position: relative;
    left: 0;
    visibility: hidden;
}

.custom-checkbox[type="checkbox"]:checked + .ht-ui-check .track {
    background: #ff0000;
    margin: -0.4rem;
}

.custom-checkbox[type="checkbox"]:checked + .ht-ui-check .handle {
    transform: translateX(10.55vw);
}

.custom-checkbox[type="checkbox"]:checked + .ht-ui-check .handle .faces {
    transform: translateX(-16.5vw);
}

.ht-ui-check:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-out all;
}
.ht-ui-check .handle,
.ht-ui-check .track {
    position: absolute;
    z-index: 10;
    transition: ease-out all 0.23s;
    border-radius: 10vw;
}
.ht-ui-check .track {
    display: block;
    width: 23.5vw;
    height: 13.5vw;
    background: #1400ff;
    margin: -0.4rem;
}

.ht-ui-check {
    background: #ff0000;
}

.ht-ui-check .handle {
    display: block;
    height: 9.5vw;
    width: 9.5vw;
    background: #ffff00;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    transform: translateX(1.5vw);
    overflow: hidden;
}

.faces {
    display: flex;
    flex-wrap: no-wrap;
    width: 20vw;
    font-size: 3.5vw;
    justify-content: space-between;
    transition: 0.3s ease-out all 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.faces .sad {
    position: relative;
    top: 3.5vw;
    left: 1vw;
    color: #5e5f56;
    line-height: 1em;
}
.faces .sad .eyes {
    display: flex;
}
.faces .sad .eyes div {
    transform: rotate(45deg);
}
.faces .sad .mouth {
    margin-left: 6px;
    line-height: 0em;
    font-weight: 400;
}
.faces .happy {
    color: #5e5f56;
    position: relative;
    top: 1.5vw;
    left: 5vw;
    line-height: 0.85;
}
.faces .happy:after {
    content: "";
    width: 1.5vw;
    height: 1.5vw;
    display: block;
    position: absolute;
    top: 2.5vw;
    left: -1vw;
    border-radius: 50%;
    background: #f5d8dd;
}
.faces .happy .eyes {
    margin-top: 15%;
    font-family: "Roboto Mono", courier;
}
.faces .happy .mouth {
    margin-left: 0em;
    margin-top: 0.25vw;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 4.5vw;
}

/* TOGGLE Stop================================================================= */

/*  footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    margin-top: 0;
}

.footerOwn {
    height: 11vh;
}

body.dark-mode .footer {
    /* background-color: #ebebeb; */
}

#footerButton {
    position: fixed;
    bottom: -74px;
    left: .4rem;
    z-index: 9999;
}

.footerBtnTextStart {
    font-size: 70%;
    color: #ffc107;
    position: relative;
    bottom: 10px;
}

.scrollBtn {
    position: fixed;
    bottom: -4px;
    right: .5rem;
    z-index: 9999;
}

#footerContent {
    display: none;
    left: 0;
}

.footerlinkText {
    margin-bottom: 10rem !important;
}

/* FONTAWESOME ICONS START ------------------------------------------------------- */

.iconAuth {
    color: #1400ff;
}

body.dark-mode .iconAuth {
    color: #ff0000;
}

/* FONTAWESOME ICONS STOP ------------------------------------------------------- */

/* GoogleIcons ICONS START ------------------------------------------------------- */

.googleIcons {
    color: #ebebeb;
}

body.dark-mode .googleIcons {
    color: #333;
}

/* GoogleIcons ICONS STOP ------------------------------------------------------- */

/* ICONSHOOTER START ------------------------------------------------------- */
.iconshooter {
    color: #ffa500;
}

body.dark-mode .iconshooter {
    color: #fa1c50;
}

#icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    color: rgb(244, 155, 0);
}

/* ICONSHOOTER STOP ------------------------------------------------------- */

.custom-tooltip {
    --bs-tooltip-bg:#e2ee58;
    --bs-tooltip-color:#333;
    --bs-tooltip-border-radius:50%;
    --bs-tooltip-padding-y:1rem;
}

/*--- CUSTOM POPOVER  ---------------*/
.popPlayHead {
    background-color: #ffff00;
    color: #333;
    margin: -2rem;
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 1rem 1rem 2rem 2rem;
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    margin-left: -1rem;
    margin-right: -1rem;
}

body.dark-mode .popPlayHead {
    background-color: #2d5c86;
    /* color:#333; */
    color: white;
}
.popPlayBody {
    background-color: #2d5c86;
    color: white;
    padding: 1rem;
    margin: -1rem -1rem -2rem;
    margin-bottom: -2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-bottom: -3rem;
}

body.dark-mode .popPlayBody {
    background-color: #ffff00;
    color: #333;
}


.popKnowInfoHead {
    background-color: #333;
    color: #fff !important;
    margin: -2rem;
    margin-right: -2rem;
    margin-left: -2rem;
    padding: 1rem 1rem 2rem 2rem;
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    margin-left: -1rem;
    margin-right: -1rem;
}

.popKnowInfoBody {
    background-color: #ffffff;
    color: #333;
    padding: 1rem;
    margin: -1rem -1rem -2rem;
    margin-bottom: -2rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-bottom: -3rem;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*  ADDITIONAL CSS EFFECTS N STUFF START ---------------------------------------------------------------------*/

/* .circle-text {
    width: 200px; 
    height: 100px; 
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff0000, #ffff00); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .rainbow-text {
    font-size: 24px; 
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    animation: rainbow-animation 5s infinite;
  }
  
  @keyframes rainbow-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  .rainbow-text {
    font-size:1.2rem; /* Adjust the font size as desired */
    fill: #ebebeb;
  }

  body.dark-mode .rainbow-text {
    font-size:1.2rem; /* Adjust the font size as desired */
    fill:#333;
  }
  
  .hintKnowledge {
    color:#ebebeb
  }
  
  body.dark-mode .hintKnowledge {
    color:#333
  }
