/* In any other CSS files 
body.dark-mode .some-element {

// Styles for elements that need to be updated for dark mode 

}*/

body.dark-mode body {
    /* background-color: mediumspringgreen; */
}


body {
    margin-top:12vh;
    font-family: 'Poppins', sans-serif;
}

body.dark-mode  {
    margin-top:12vh;
    margin-bottom:100px;
    background-color: #00fa9a;
    font-family: 'Poppins', sans-serif;
}

body.dark-mode html, body {
    color: black;
    background-color: #ffc0cb;
     }


body.dark-mode  .playground  {
    /* background-color:black; */
}

.navbar {
    height:10%;
}

.navbar-toggler-icon {   
    font-size:30px;
}

.navbar {
    color:red;
}

body.dark-mode  .nav-link {
    color: black;
}


body.dark-mode .editorTitle   {
    color: white;
}

body.dark-mode .ul   {
    color: white;
}

body.dark-mode .li   {
    color: white;
}

body.dark-mode .chatbody   {
    color: white;
}

/* -------------------------------------------------------- ROUND DIVS */
.circle {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
  }

.circleProfileCols {
    position: relative;
    min-width: 33%;
    min-height: 33%;
    border-radius: 50%;
    padding:8%;
  }

.chatbody {
    margin-left:10%;
    padding:10%;
}
  
.textfield {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    padding: 20px;

    overflow: auto;
    transform: translateY(50%);
  }

.circleBlog {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

.textfieldBlog {
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding: 2.5rem;
    /* color:#ffffff; */
    
  }
  
.circleKnowledgeForm {
    position: relative;
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }

.circleKnowledge {
    position: relative;
    width: 75%;
    height: 75%;
    border-radius: 50%;
  }

.textfieldKnowledge {
    font-size:15px;
    font-weight:bold;
    text-align:center;
    padding: 2.5rem;
    color:#ffffff;
    
  }
  
.card1 {
    background-color:mediumspringgreen;
    position:relative;
    left:0;
    color: black;
}

body.dark-mode .card1{
    background-color: rgb(231, 176, 12);
}

/* ---------------------------------------------------------------- EDITOR MONACO START */

/* .monaco-list-row .monaco-highlighted-label .monaco-icon-label .monaco-icon-name-container {
    line-height: 24px; 
  } */
  


/*         #editor {
    height: 500px;
    

}
#css-editor {
    height: 500px;
    

}
.containerEditor {

} */

.containerEditor {
    margin-top: 1rem;
}
.editorTitle {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 1rem;
}

.editor .suggest-widget div.tree {
    white-space: unset;
    padding-bottom: 0;
}

#editor, #css-editor, #js-editor {
    height: 350px;
    width: 100%;
    border: 1px solid #ccc;
    
}
#preview {
    height: 300px;
    width: 100%;
    border: none;
}
.body.dark-mode .monaco-editor {
    background-color: #212529;
    color: #d4d4d4;
}

/* ---------------------------------------------------------------- EDITOR MONACO END */

/* ---------------------------------------------------------------- LINK UNDERLINE ANIMATION START */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f8f8f8;
  }
  
  a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  
  a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #333;
    transition: width 0.3s ease;
  }
  
  a:hover::before,
  a:focus::before {
    width: 100%;
  }
  
/* ---------------------------------------------------------------- LINK UNDERLINE ANIMATION END */

/*  footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*.btn-circle {
    width: 5rem;
    height: 5rem;
    font-size: 90%;
    padding: 8px 8px;
    border-radius: 50%;
    color:#087990;
    text-align: center;
    margin-bottom: 15px; 
    box-shadow: -3px 3px 3px 3px rgb(141, 141, 141);
}

body.dark-mode .btn-circle {
    color: #f3a81c;
}

/* TOGGLE Variants Start================================================================= */
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
  }
  */
 /*  #bg {
    position:relative;
    left:-30px;
    

  } */

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position:relative;
    left:-20%;
    
    
  } 
  
  input[type=checkbox] {
    position: absolute;
    left: -200vw;
    visibility: hidden;
  }
  input[type=checkbox]:checked + .ht-ui-check:before {
    /* background: #f5d8dd; */
  }
  input[type=checkbox]:checked + .ht-ui-check .track {
    /* background: linear-gradient(135deg, #e66465 0%, #9198e5 80%); */
    background:#0000ff;
  }
  input[type=checkbox]:checked + .ht-ui-check .handle {
    transform: translateX(10.55vw);
  }
  input[type=checkbox]:checked + .ht-ui-check .handle .faces {
    transform: translateX(-16.5vw);
  }
  
  .ht-ui-check {
    width: 21.5vw;
    height: 3.75vw;
    cursor: pointer;
    border-radius: 10vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    transform: scale(0.3);
  }
  .ht-ui-check:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: #eee; */
    transition: 0.3s ease-out all;
  }
  .ht-ui-check .handle,
  .ht-ui-check .track {
    position: absolute;
    z-index: 10;
    transition: ease-out all 0.23s;
    border-radius: 10vw;
  }
  .ht-ui-check .track {
    display: block;
    width: 21.5vw;
    height: 12.5vw;
    /* background: #5e5f56; */
    background: #ff0000;
  }
  .ht-ui-check .handle {
    display: block;
    height: 9.5vw;
    width: 9.5vw;
    /* background: white; */
    background: #ffff00;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    transform: translateX(1.5vw);
    overflow: hidden;
  }
  
  .faces {
    display: flex;
    flex-wrap: no-wrap;
    width: 20vw;
    font-size: 3.5vw;
    justify-content: space-between;
    transition: 0.3s ease-out all 0.1s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .faces .sad {
    position: relative;
    top: 3.5vw;
    left: 1vw;
    color: #5e5f56;
    line-height: 1em;
  }
  .faces .sad .eyes {
    display: flex;
  }
  .faces .sad .eyes div {
    transform: rotate(45deg);
  }
  .faces .sad .mouth {
    margin-left: 6px;
    line-height: 0em;
    font-weight: 400;
  }
  .faces .happy {
    color: #5e5f56;
    position: relative;
    top: 1.5vw;
    left: 5vw;
    line-height: 0.85;
  }
  .faces .happy:after {
    content: "";
    width: 1.5vw;
    height: 1.5vw;
    display: block;
    position: absolute;
    top: 2.5vw;
    left: -1vw;
    border-radius: 50%;
    background: #f5d8dd;
  }
  .faces .happy .eyes {
    margin-top:15%;
    font-family: "Roboto Mono", courier;
  }
  .faces .happy .mouth {
    margin-left: 0em;
    margin-top: 0.25vw;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 4.5vw;
  }

/* TOGGLE Variants Stop================================================================= */

